header{
    display: flex;
}


header{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header img {
    width: 100%;
    height: auto;
    
}

header figure {
    overflow: hidden;
    height: auto
}
    

h1{
    font-family: Georgia;
    position: absolute;
    top: 0;
    left: 0;
    color: #c3f25f;
    width: 60px;
    background: transparent;
}

h2{
    text-align: right
}

h2 {
    background-color: #eb945b;
}

.body {
    background-color:#eb945b;
}

h3{
    text-align: right;
}

aside {
    background-color: #c3f25f;
    position: absolute; 
}