header{
    display: flex;
}

header{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header img {
    width: 100%;
    height: auto;
    
}

header figure {
    overflow: hidden;
    height: auto;
    background-image: url("./images/header2.jpg");
    height: 400px;
    width: 100vw;
    background-size: cover;
    background-repeat:no-repeat;
}

/* .mainimage {
    width: 1000px;
    height: 100vh;
} */


h1{
    font-family: Georgia;
    position: absolute;
    top: 10;
    left: 70;
    color: #c3f25f;
    width: 60px;
    background: transparent;
}

h2{
    text-align: right
}

.aboutme {
    width: 70%;
    margin: 20px auto;
    background-color: #eb945b;
}

#about-me-h2{
    padding-right: 20px;
    /* padding-top: 5px; */
}

.aboutme{
    padding:10px;
    background-color:#eb945b;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: bold; */
}

.recentwork {
    background-color:#c3f25f;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: #c3f25f;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}


footer p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


a img {
    width: 400px;
    height: 400px;
    opacity: 75%;
}

.images{
    display:flex;
    flex-wrap: wrap;
    max-width: 98vw;
    justify-content: center;
}

.imagetext{
    position:relative;
    display:inline-block;
}

.images .imagetext .text1, .text2, .text3, .text4, .text5 {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.images a:visited {
    color:white;
}

.textwrapper h3{
    display:block;

}

.textwrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    position: relative;
}

.textwrapper .box {
    position: absolute;
    width: 1px;
    height: 1px;
    transition: all .5s linear;
}

.textwrapper:hover .box{
    width:360px;
    height:360px;
}

.box.left {
    bottom:132px;
    right:0px;
}

.box.corner {
    bottom:0px;
    right:0px;
}

.box.bottom {
    bottom:20px;
    right: 20px;
}

.images > div > a {
    display:block;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
footer p a { 
    text-decoration: none;
    color: grey;
    padding-left: 50px;
    padding-top: 5.5px;
}

nav ul li {
    list-style-type: none;
    /* padding-left: 10px; */
    padding-right: 15px;
    
}

nav ul li a {
    color:#eb945b;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
   
}

@media screen and (max-width:760px) {

    
}

@media screen and (max-width:380px) {
 .body {
    font-size:smaller;
 }
 .images {
    display: flex;
    flex-direction: column;
 }

    
}